<nav class="nav">
  <div><LinkTo @route="index">
  Home
  </LinkTo></div>
  <span/>
  <div class="nav-right">
    <LinkTo @route="about">
      About Me
    </LinkTo>
    <LinkTo @route="contact">
      Contact
    </LinkTo>
  </div>
</nav>