<nav class="nav">
  <div><LinkTo @route="index" class="menu-index">
    <h1>Home</h1>
  </LinkTo></div>
  <span/>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About Me
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
  </div>
</nav>